.clickable{
    transition: transform 0.225s ease-out ;
    cursor: pointer;
    pointer-events: auto;
}

.clickable:hover {
    transform: scale(1.1);
}

.clickable:active  {
    transform: scale(1);
}

.non_clickable {
    pointer-events: none;
}