@import "misc/ripple.css";
@import "configurations/fonts.css";
@import "configurations/root.css";
@import "layouts/navbar.css";
@import "partials/logo.css";
@import "partials/button.css";
@import "misc/grid_layout.css";
@import "misc/clickable.css";
@import "misc/shadow.css";
@import "partials/paginator.css";
@import "misc/not_selectable.css";
@import "layouts/sidebar.css";
@import "partials/line.css";
@import "misc/banner.css";
@import "partials/article.css";

#row, .row {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.h_center {
    justify-content: center;
    text-align: center;
}

.deleted {
    text-decoration: line-through;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: montserrat_light, serif;
    background-color: var(--background);
}

h1 {
    margin: 0;
    font-size: 5rem;
    font-family: Constantia, serif;
    font-weight: bold;
    color: var(--foreground);
}

h2 {
    margin: 0;
    font-size: x-large;
    font-family: RobotoSlab, serif;
    color: var(--on_background);
}

h3 {
    margin: 0;
    font-family: RobotoSlab, serif;
    color: var(--on_background);
}

p, b, strong {
    color: var(--on_background);
}

textarea.error {
    border: 2px solid crimson;
    outline: none;
}

textarea.error:focus {
    border: 2px solid crimson;
    outline: none;
}

input.error {
    border: 2px solid crimson;
    outline: none;
}

input.error:focus {
    border: 3px solid crimson;
    outline: none;
}

label {
    border: none;
    padding: 15px;
    border-radius: 999px;
    font-family: montserrat_regular, serif;
    font-size: large;
    font-weight: bold;
}

textarea {
    border: none;
    padding: 15px;
    font-family: montserrat_regular, serif;
    font-size: medium;
}

input {
    border: solid 2px var(--on_background);
    width: calc(100% - 2 * 15px);
    padding: 15px;
    border-radius: 999px;
    font-family: montserrat_regular, serif;
    font-size: medium;
}
input:focus{
    outline: none !important;
    border: solid 3px var(--foreground);
    padding: 14px;
}

select {
    background-color: var(--background);
    border: none;
    padding: 15px;
    border-radius: 999px;
    font-family: montserrat_regular, serif;
    font-size: medium;
}

option {
    background-color: var(--background);
    border: none;
    padding: 15px;
    border-radius: 999px;
    font-family: montserrat_regular, serif;
    font-size: medium;
}

img {
    user-select: none;
    pointer-events: none;
    object-fit: cover;
}

#page {
    display: flex;
    flex-direction: column;
    background-color: var(--background);
    max-width: 1440px;
    margin: 0 auto;
}

.padding {
    padding: 10px var(--page_padding) 10px var(--page_padding);
}


.round_rectangle {
    border-radius: 999px;
    background: var(--background);
}

a {
    color: var(--foreground);
}

.overflow {
    /*white-space: nowrap;*/
    overflow: clip !important;
    text-overflow: ellipsis;
    word-wrap: break-word;
    max-height: 3.6em;
    line-height: 1.2em;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

