
.sidebar {
    width: 30%;
    float: left;
    margin-right: 34px;
}

.filter--item {
    border: solid 3px var(--foreground);
    background-color: var(--white);
    padding: 15px;
    margin-bottom: 20px;
}

.checkbox_filter ol {
    list-style: none;
    padding: 0;
}

.checkbox_filter li {
    padding: 12px;
    align-content: center;
    justify-content: center;
}
.checkbox_filter h3{
    padding: 4px 0;
    position: relative;
    cursor: pointer;
}
.checkbox_filter h3::after {
    position: absolute;
    right: 10px;
    content: "keyboard_arrow_down";
    font-family: 'Material Icons', serif;
    font-weight: normal;
    font-style: normal;
    font-size: 26px;
    top: 0;
    bottom: 0;
}
.hidden h3::after {
    content: 'keyboard_arrow_up';
}

.checkbox_filter a {
    align-items: center;
    display: flex;
    text-decoration: none;
    color: inherit;
    font-weight: lighter;
}

.checkbox_filter a::before {
    content: "";
    display: inline-block;
    border: 1px solid var(--on_background);
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.filter--selected::before {
    background-color: var(--on_background);
}

.filter--default {
    font-weight: bolder !important;
}

.slider-container {
    width: 80%;
    margin: 30px auto;
    text-align: center;
}

.slider {
    width: 100%;
}

.price-values {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.price-values p {
    margin:0
}
#price-slider{
    height: 7px;
}
