.article {
    height: 300px;
    width: 100%;
    display: flex;
    /*justify-content: center;*/
    /*align-items: center;*/
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 6px;
    background-clip: border-box;
    overflow: clip;
}

.article--content {
    padding: 10px 0px;
}

.price {
    font-size: x-large;
    font-weight: bold;
    margin: 14px 0;

}