.account-image-container {
    width: var(--image-container-size); /* Set the desired fixed width */
    height: var(--image-container-size); /* Set the desired fixed height */
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
