.grid_responsive{
    display: grid;
    column-gap: 20px;
    justify-content: center; /* center the content horizontally */
}



/*!* 1 columns *!*/
/*@media screen and (min-width: 500px) and (max-width: 799px) {*/
/*    .grid_responsive {*/
/*        grid-template-columns: repeat(1, max-content);*/
/*    }*/
/*}*/

/*!* 2 columns *!*/
/*@media screen and (min-width: 800px) and (max-width: 1099px) {*/
/*    .grid_responsive {*/
/*        grid-template-columns: repeat(2, max-content);*/
/*    }*/
/*}*/

/*!* 3 columns *!*/
/*@media screen and (min-width: 1100px) and (max-width: 1399px) {*/
/*    .grid_responsive {*/
/*        grid-template-columns: repeat(3, max-content);*/
/*    }*/
/*}*/

/*!* 4 columns *!*/
/*@media screen and (min-width: 1400px) and (max-width: 1699px){*/
/*    .grid_responsive {*/
/*        grid-template-columns: repeat(4, max-content);*/
/*    }*/
/*}*/

/*!* 5 columns *!*/
/*@media screen and (min-width: 1700px)and (max-width: 1999px){*/
/*    .grid_responsive {*/
/*        grid-template-columns: repeat(5, max-content);*/
/*    }*/
/*}*/

/*!* 6 columns *!*/
/*@media screen and (min-width: 2000px)and (max-width: 2299px) {*/
/*    .grid_responsive {*/
/*        grid-template-columns: repeat(6, max-content);*/
/*    }*/
/*}*/

/*!* 7 columns *!*/
/*@media screen and (min-width: 2300px)and (max-width: 2599px) {*/
/*    .grid_responsive {*/
/*        grid-template-columns: repeat(7, max-content);*/
/*    }*/
/*}*/

/*!* 8 columns *!*/
/*@media screen and (min-width: 2600px) {*/
/*    .grid_responsive {*/
/*        grid-template-columns: repeat(8, max-content);*/
/*    }*/
/*}*/


.grid_3_col {
    display: grid;
    grid-template-columns: max-content max-content max-content;
    column-gap: 20px;
}