.hover_animation{
    transform: translateY(0px);
    transition: all 0.1s ease-out;
}

.hover_animation:hover {
    cursor: pointer;
    transform: translateY(8px);
    transition: all 0.15s ease-out;
}