/* MONTSERRAT ===============================================*/
@font-face {
    font-family: montserrat_bold;
    src: url(../../font/montserrat.ttf);
    font-weight: bold;
}
@font-face {
    font-family: montserrat_light;
    src: url(../../font/montserrat.ttf);
    font-weight: 200;
}
@font-face {
    font-family: montserrat_regular;
    src: url(../../font/montserrat.ttf);
    font-weight: 400;
}

/* FLAMENCO ===============================================*/
@font-face {
    font-family: flamenco_regular;
    src: url(../../font/flamenco-regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: flamenco_light;
    src: url(../../font/flamenco-light.ttf);
    font-weight: 300;
}

/* PlaywriteGBS  FLAMENCO =================================*/
@font-face {
    font-family: PlaywriteGBS;
    src: url(../../font/PlaywriteGBS-VariableFont_wght.ttf);
}

/* RobotoSlab =================================*/
@font-face {
    font-family: RobotoSlab;
    src: url(../../font/RobotoSlab-VariableFont_wght.ttf);
}