:root {
    --foreground: #6dc6c1;
    --on_background: #022e40;
    --on_background_dim: #022e4050;
    --background: #f9f8f1;
    --white: #ffffff;
    --error: #ff4500;

    --width: 800;
    --font_small: 0.95em;
    --corner_radius: 50px;
    --page_padding: 100px;
    --image-size: 160px;
    --image-container-size: 180px;
}