    .alert {
        padding: 1rem;
        border-radius: 0.25rem;
    }

    .alert-info {
        background-color: #d1ecf1;
        border-color: #bee5eb;
        color: #0c5460;
    }

    .alert-warning {
        background-color: #fff3cd;
        border-color: #ffeeba;
        color: #856404;
    }

    .alert-danger {
        background-color: #f8d7da;
        border-color: #f5c6cb;
        color: #721c24;
    }


    .close {
        float: right;
        font-size: 1.2rem;
        font-weight: bold;
        line-height: 1;
        color: #000;
        text-shadow: none;
        opacity: 0.5;
    }

    .close:hover {
        color: #000;
        text-decoration: none;
        opacity: 1;
    }