.card--azienda {
    height:200px;
    width: 280px;
    border-radius: 36px;
    /*border: var(--background) solid 7px;*/
    padding: 0 20px;
    /* Add shadows to create the "card" effect */
    display: flex;
    justify-content: center;


}

.card--image{
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card--image img{
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
}

.card--edit, .card--destroy{
    position: absolute;
    top: -10px;
    border-radius: 999px;
    background-color: var(--on_background);
    padding: 10px;
    right: -12px;;
}

.card--edit{
    background-color: var(--background);

    right: 50px;;
}