.coupon--categoria {
    background-color: var(--background);
    border-radius: 15px;
    height: 360px;
    width: 280px;
    padding-bottom: 10px;
}

.container--categoria {
    position: relative;
    height: 7rem;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 2px 16px;
    text-align: center;
}

.image--categoria {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.promo--categoria {
    border-radius: 15px;
}

.coupon_wrapper--categoria {
    background-color: white;
}

.container_description--categoria {
    padding: 30px 30px 0 40px;
}

.button--categoria {
    position: absolute;
    bottom: 2.5rem;
    left: 0;
    right: 0;
    margin: auto;
}
