.coupon--coupon {
    height: 460px;
    width: 220px;
    border-radius: 10px;
    text-align: center;
    padding: 0 30px;
    background-image: url(../../images/cupon_base.png);
    background-size: cover;
    position: relative;
    background-position: center;
}
.coupon--coupon_expired {
    opacity: 0.5;
}

.coupon--coupon_title_expired{
    text-decoration: line-through;
}

.sconto--coupon {
    padding: 30px 0 0 0;
}

.image--coupon {
    margin-top: 15px;
    min-height: 110px;
    max-height: 110px;
    max-width: 100%;
    overflow: clip;
    position: relative;
}


.scadenza--coupon {
    color: var(--background);
    position: absolute;
    bottom: 7rem;
    left: 0;
    right: 0;
    margin: auto;
}

.button--coupon {
    position: absolute;
    bottom: 3rem;
    left: 0;
    right: 0;
    margin: auto;
}

.coupon--like{
    position: absolute;
    top: 0;
    border-radius: 999px;
    background-color: var(--color2);
    padding: 10px;
    right: 0;
}

.coupon--like img{
}