.faq-container {
    margin: auto;
   padding: 4px;
    width: 100%;
}

.faq--container{
    margin-top: 2em;
}

.faq-question{
    position: relative;
    display: flex;
    width:700px;
    padding: 1rem 3rem 1rem 1rem;
    color: #7288a2;
    font-size: 1.15rem;
    font-weight: 400;
    border: 1px solid #e5e5e5;
}

.content{
    line-height: 20px;
    width: 732px;
}

.faq-question:hover,
.faq-question:hover::after {
    cursor: pointer;
    color: black ;
}

.faq-question.active {

    border-bottom: 1px solid  var(--foreground);
}
.faq-question::after {

    font-family: 'Ionicons', sans-serif;
    content: '\f218';
    position: absolute;
    transform: translateY(-3px);
    float: right;
    right: 1rem;
    font-size: 18px;
    color: #7288a2;
    padding: 4px;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    text-align: center;
}
.faq-question.active::after {
    font-family: 'Ionicons', sans-serif;
    content: '\f209';

}
.accordion .content {
    opacity: 0;
    padding: 0 1rem;
    max-height: 0;
    border: 1px solid #e5e5e5;
    overflow: hidden;
    clear: both;

    transition: all 0.2s ease 0.15s;
}
.accordion .content {
    font-size: 1rem;
    font-weight: 300;
}
.accordion .content.active {
    opacity: 1;
    padding: 1rem;
    max-height: 100%;
    transition: all 0.35s ease 0.15s;
}

.accordion{
    display: flex;
    width:75%;
    margin: 0.5em auto;
    justify-content: center;
}

.right-container {

    align-items: center;
    display: flex;
    margin-left: 50px;

}

.faq--button-container {
    width: 54px;
    height: 54px;
    margin:  0 0.5em;
    background-color: var(--on_background);
    border-radius: 50%;
}

.edit-button-container:hover {
    animation: editAnimation 0.1s;
    animation-fill-mode: forwards;
}

.delete-button-container:hover {
    animation: deleteAnimation 0.1s;
    animation-fill-mode: forwards;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-object {
    padding: 0.5em;
}

.delete-object {
    padding: 0.5em;
}

.edit-object svg{
    fill: var(--background);
    height:30px;
    width: 30px;
    transform-origin: center center;
    cursor: pointer;
}

.delete-object svg{
    fill: var(--background);
    height:30px;
    width: 30px;
    transform-origin: center center;
    cursor: pointer;
}

@keyframes editAnimation {
    0% { background-color: var(--on_background)}
    100% { background-color: rgb(0, 0, 255, 0.7); transform: scale(1.1)}
}

@keyframes deleteAnimation {
    0% { background-color: var(--on_background)}
    100% { background-color: rgb(255, 0, 0, 0.7); transform: scale(1.1)}
}


