.coupon_page--section {
    margin-top: 40px;
    padding: 80px calc(var(--page_padding) * 2) 80px calc(var(--page_padding) * 2);
    background: linear-gradient(45deg, #52AA5E 0%, #3DA5D9 100%);
}

.coupon_page--expired {
    opacity: 0.7;
}

.coupon_page--scaffold {
    padding-top: 40px;
    min-height: 100vh;
    background-color: var(--background);
}

.coupon_page--subtitle,.coupon_page--subtitle_li, .coupon_page--subtitle_li a {
    margin-top: 50px;
    color: var(--background);
    text-align: center;
    font-size: x-large;
}

.coupon_page--subtitle_ul {
    width: min-content;
    margin: 0 auto;
}

.coupon_page--subtitle_li, .coupon_page--subtitle_li a {
    width: max-content;
    font-family: montserrat_regular, serif;
    margin-top: 16px;
}

.coupon_page--title {
    color: var(--background);
    text-align: center;

}

.coupon_page--discount {
    margin: 8px 0;
    font-family: montserrat_bold, serif;
    font-size: xxx-large;
    color: var(--on_background);
    text-align: center;
}

.coupon_page--title_expired{
    opacity: 1;
}

.coupon_page--date {
    margin-top: 10px;
    font-family: montserrat_regular, serif;
    color: var(--on_background);
    text-align: center;
    font-size: x-large;
}

.coupon_page--note {
    font-family: montserrat_regular, serif;
    color: var(--on_background);
    text-align: left;
    font-size: medium;
}

.coupon_page--bottom_container {
    /*padding: 0 calc(var(--page_padding)*3.5) 0 calc(var(--page_padding)*3.5);*/
    /*display: grid;*/
    margin: 80px 0 40px 0;
    /*grid-template-columns: auto auto;*/
    /*grid-gap: 60px;*/
    overflow: hidden;
    justify-content: space-evenly;
}

.coupon_page--bottom_container p {
    text-align: left;
    margin: 18px 0;
}

.coupon_page--bottom_container strong {
    font-family: montserrat_bold, serif;
}

#coupon_page--qrcode {
}

#coupon_page--qrcode * {
    margin: 0 auto;
}