#pre_footer {
    height: 100px;
    width: 100%;
    margin-top: 20px;
    position: relative;
    background-color: var(--background);
    border-bottom-left-radius: var(--corner_radius);
    bottom: -50px;
}


/*#footer {*/
/*    height: 400px;*/
/*    padding-top: 140px;*/
/*    position: relative;*/
/*    top: 0;*/
/*    z-index: -1;*/
/*    background-color: var(--on_background);*/
/*    color: var(--background);*/
/*}*/


.footer-container{
    max-width: 1170px;
    margin:auto;
}
.footer-container.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
.footer{
    line-height: 1.5;
    align-content: center;
    background-color: var(--on_background);
    padding: 70px 0;
}
.footer-col{
    margin:0;
    box-sizing: border-box;
    align-content: center;
    width: 25%;
    padding: 0 15px;
}

.footer-col h4{
    padding-left: 40px;
    font-size: 22px;
    color: var(--background);
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

/*.footer-col h4::before{*/
/*    content: '';*/
/*    position: absolute;*/
/*    bottom: -10px;*/
/*    background-color: var(--foreground);*/
/*    height: 2px;*/
/*    box-sizing: border-box;*/
/*    !*width: 100px;*!*/
/*}*/

/*.follow::before{*/
/*    width: 100px;*/
/*}*/

/*.shop::before{*/
/*    width: 120px;*/
/*}*/

/*.help::before{*/
/*    width: 90px;*/
/*}*/
/*.company::before{*/
/*    width: 100px;*/
/*}*/

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.2s ease;
}
.footer-col ul li a:hover{
    color: #ffd301;
    padding-left: 8px;
}
.footer-col .social-links a i{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.3s ease;
}


.footer-col .social-links a:hover i:hover{
    color: #24262b;
    background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}
@media(max-width: 574px){
    .footer-col{
        width: 100%;
    }
}
