#navbar {
    margin: 0 0 0 auto;
    font-family: montserrat_regular, serif;
    font-weight: bold;
    padding: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
}

#navbar ul {
    margin: 0;
    padding: 0 0 0 10px;
    list-style: none;
    line-height: normal;
}

#navbar li {
    float: left;
    height: 50px;}

#navbar a {
    display: block;
    margin-top: 10px;
    margin-right: 3px;
    padding: 7px 20px 7px 20px;
    text-decoration: none;
    font-size: 16px;
    color: var(--on_background);
    border: none;
}

#navbar span {
    display: block;
    height: 3px;
    background-color: var(--foreground);
    border-radius: 99px;
    margin: 2px 20px 0;
}